<head><link rel="stylesheet" type="text/css" href="impressum.css"></head>

<div class="head-section">
 <div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Wein-günstig-kaufen.com", root_path, class:"navbar-brand" %>
    </div>
      <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Zurück", root_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>


<div class="infosite">
<div
class="container"><div
class="std"><p>Aaron Tal<br
/>Kollenhof 22<br
/>22527 Hamburg</p><p>Telefon:&nbsp;+49 162 2886035</p><p>E-Mail: <a
href="mailto:aaron.tal@hotmail.de">aaron.tal@hotmail.de</a></p>
</div>
</div>
</div>
