



<head> <%= stylesheet_link_tag "impressum" %></head>
<div class="head-section">
 <div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Wein-günstig-kaufen.com", root_path, class:"navbar-brand" %>
    </div>
      <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Zurück", root_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>


  <div class="wrapper">
    <div class="container">
    <div class="infosite">
      <div id="message"><!-- filterbutton --></div><h2>Servicebedingungen & Haftungsausschluss</h1>
      <p>WEIN-GÜNSTIG-KAUFEN.COM IST KEIN SHOP, SONDERN EINE SUCHMASCHINE. ALLE ANGABEN OHNE GEWÄHR. DIE GELISTETEN ANGEBOTE SIND KEINE VERBINDLICHEN WERBEAUSSAGEN DER ANBIETER! IRRTÜMER UND DRUCKFEHLER VORBEHALTEN. FÜR DEN KAUF GELTEN DIE GESCHÄFTSBEDINGUNGEN DES JEWEILIGEN SHOPS. RABATTE, PORTO UND VERPACKUNG WERDEN NICHT BERÜCKSICHTIGT. WIR KÖNNEN KEINE GARANTIE ÜBER DIE RICHTIGKEIT DER ANGEGEBEN DATEN ABGEBEN! WIR VERKAUFEN SELBST KEINE PRODUKTE! DIE PRODUKTINFORMATIONEN STELLEN KEINE AUFFORDERUNG ZUM KAUF DAR NOCH SIND SIE VERBINDLICHE OFFERTE. AUFGRUND ZEITLICHER VERZÖGERUNGEN BEI DER DATENAKTUALISIERUNG, KANN NICHT AUF DIE VERFÜGBARKEIT DER JEWEILIGEN PRODUKTE GESCHLOSSEN WERDEN. WEITERS KÖNNEN SICH ZWISCHENZEITLICH DIE PREISE BEREITS GEÄNDERT HABEN. DIE SUCHERGEBNISSE VON WEIN.CC SIND DAHER KEINESFALLS RECHTSVERBINDLICH. WEIN.CC IST JEDOCH BEMÜHT DIE INFORMATIONEN MÖGLICHST ZEITNAH UND RICHTIG ZUR VERFÜGUNG ZU STELLEN. AUFGRUND TECHNISCHER VORKOMMNISSE, KANN ES ZU UNRICHTIGEN BZW. UNVOLLSTÄNDIGEN ANGABEN KOMMEN. DER  ANGEGEBENE PREIS ENTSPRICHT - SOFERN KEIN DRUCKFEHLER VORLIEGT - DEM PRODUKTEINZELPREIS INKL. UST., JEDOCH OHNE VERSANDKOSTEN. DIE GENAUE HÖHE DER VERSANDKOSTEN IST VON SHOP ZU SHOP VERSCHIEDEN, UND I.D.R. VON UNTERSCHIEDLICHEN FAKTOREN ABHÄNGIG, WIE BEISPIELSWEISE: GESAMTBESTELLWERT, MINDESTBESTELLWERT, TEILLIEFERUNGEN, GEWICHT, GRÖßE, MINDERMENGENZUSCHLAG, PAKETDIENST, PAKETVERSICHERUNGEN, LAND, BEZAHLMETHODE, ETC. DIE PRODUKTPRÄSENTATIONEN SIND KEINE (WERBE-)INSERATE VON DEN HÄNDLERN, DA DIESE KEINEN DIREKTEN EINFLUSS AUF DIE GESTALTUNG DER PRODUKTDARSTELLUNGEN HABEN. EVENTUELL GENANNTE MARKEN ODER PRODUKTNAMEN SIND WARENZEICHEN ODER EINGETRAGENE WARENZEICHEN DER JEWEILIGEN EIGENTÜMER. HINWEIS ZUR SPALTE "LIEFERBEDINGUNGEN": DIE ANGEZEIGTEN VERSANDKOSTEN SIND, SOFERN NICHT ANDERS ANGEGEBEN, DIE KOSTEN FÜR DEN VERSAND IN DAS LAND DES HÄNDLERS (INLANDSVERSAND). DIE NICHT ANGEFÜHRTEN KOSTEN FÜR EU-/AUSLANDSVERSAND ENTNEHMEN SIE BITTE DER WEBSITE DES HÄNDLERS</p>.
      
      <div><p>Preise sind Stückpreise inkl. USt. exkl. Versandkosten, Zoll & Gebühren. Preise werden üblicherweise 1 Mal pro Minute von wein.cc aktualisiert. Es kann sein, dass der jeweilige Händler seine Angebote zwischenzeitlich geändert hat und wir daher noch nicht die aktuellen Preise anzeigen. Die Standardflaschengröße ist bei Wein 0,75 Liter und bei Spirituosen 0,7 Liter. Aus technischen Gründen werden die Literangaben nicht immer angezeigt. Auch können grundsätzlich Datenfehler nicht ausgeschlossen werden. Alle Angaben sind somit ohne Gewähr. Wir bitten um Ihr Verständnis.</p></div>
      <div class="push"></div>
    </div>
  </div>
</div>