@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

.logo-div{
    height: 60px;
    background: #d4d4d4 none repeat scroll 0% 0%;
    border-radius: 6px;
}

.jumbotron{
    color:white;
    margin-bottom: 0px !important;
    background: none !important;
    padding-top: 0px !important;
}

.product-name{
       height: 82px;

    
}

.formwrapper {
    padding: 10px;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 auto;
}

.page{
margin: 0px auto;
font-size: 21px;
    width: 27% !important;

}
.pages{
        width: 31%;
    margin: 0 auto;
}


.price{
    font-size: large;
}

.pagination a{
    color:white;
}

.list_image{
     max-width: 100%;
    height: auto;
}

.shop-logo{
    margin: 0px auto;
    padding-top: 11px;
    display: block;
    
     max-width: 100%;
    height: auto;
}


.thumbnail a > img {
   max-width: 100%;
    height: auto;
}

.jumbotron h3{
     font-family: 'Rock Salt', cursive;
    color: white;
    font-size: 34px;
    text-align: center;
    margin-bottom: 23px;
    
}

.search-field{
    padding: 25px;
    background: #c6c6c6 none repeat scroll 0% 0%;
    
    webkit-box-shadow: inset 0px 23px 24px -13px rgba(0,0,0,0.95);
-moz-box-shadow: inset 0px 23px 24px -13px rgba(0,0,0,0.95);
box-shadow: 0px 23px 24px -13px rgba(0, 0, 0, 0.95) inset;
}



.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 8px !important;
    padding-right: 8px !important;
}



.stopfade { 
   opacity: .5;
}

body{
    background: black !important;
    padding-top: 0px;
    
}


.pagination-wrapper {
width: 600px; /* or whatever width you require */
margin: 0 auto;
}
.page-link{
    color: #540000 !important;
}




.search-field {
    padding: 25px;
    background: url('http://img15.deviantart.net/f712/i/2009/341/6/4/red_mahogany_wood_texture_by_sweetsoulsister.jpg');
}




.pages {
    width: 47%;
    margin: 0 auto;
    padding-left: 5px;
    text-align: center;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus  {
    z-index: 3;
    color: #fff !important;
    background-color: #540000 !important;
    border-color: #717274 !important;
    cursor: default;
}

.controls{
    width: 100%;
margin: 0px auto;
text-align: center;
}
#category, #quantity, .btn.btn-primary.btn-xs{
    display: inline;
    vertical-align: middle;
}

label{
    color:white;
}

.thumbnail{
    -webkit-box-shadow: 9px 10px 6px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 6px -4px rgba(0,0,0,0.75);
box-shadow: 9px 10px 6px -4px rgba(0,0,0,0.75);

}



.jumbotron {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    height: 400px;
}

 #bgvid {
    display: inline-block;
    vertical-align: baseline;
    height: auto;
}

.navbar-inverse {
    background-color: RGBA(34, 34, 34, 0) !important;
    border-color: #6C6C6C !important;
}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto !important;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

.head-text{
    color:white;
    padding-top: 50px;
}
.head-section{
    background: rgba(0, 0, 0, 0.27);
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
   border-left-style: none !important;
   border-right-style: none !important;
    border-bottom: 1px solid transparent !important;
    border-color: white !important;
    color: white !important;
    border-radius: 0px !important;
}

.thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 170px !important;
    max-height: 170px !important;
    width: auto !important;
}

.shop-logo {
    margin: 0px auto;
    padding-top: 11px;
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 80%;
    width: auto;
}

html, body{
      position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
overflow:auto;
}

.search-field{
min-height: 50%;}


#bgvid {
     position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}