<!DOCTYPE html>
<html>
<head>
  <title>DemoAoo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--footer-->
<footer class="footer1">
      <div class="container">
        <a href="#" class="text-muted">Impressum |</a>
        <a href="#" class="text-muted"> Kontakt</a>
      </div>
    </footer>


</html>
