<html>
    <head>
        <%= stylesheet_link_tag "impressum" %>
    </head>
    <body>
        <%= yield %>
        
</body>
  <footer class="footer1">
      <div class="container">
         <%= link_to " Impressum |", impressum_path %>
         <%= link_to " Kontakt ", kontakt_path %>
      </div>
    </footer>

</html>